SOLAREDGE_SITE = "1234567"
SOLAREDGE_KEY = "ABCDEFGHIJKLMNOPQRSTUVWXYZ123456"
SOLAREDGE_COOKIE = "ABCDEFGHIJKLMNOPQRSTUVWXYZ1234567890"

TESLA_REFRESH_TOKEN = "abcdefghijklmnopqrstuvwxyz1234567890"
TESLA_ID = "1234567890123456"

HOME_LATITUDE = -33.926
HOME_LONGITUDE = 143.778
